$advantages-padding:          40px 0;
$descr-title-color:           #000;
$descr-title-fz:              20px;
$descr-title-fz-m:            16px;
$svg-border:                  3px double #d6d6d6;
$svg-img-mb:                  20px;
$border-r:                    50%;
$adv-img-w:                   160px;
$adv-img-h:                   160px;
$icon-fz:                     60px;
$icon-fz-m:                    50px;
$descr-width:                 65%;

.advantages {
  padding: $advantages-padding;
  .advantages__item {
    .advantages__img {
      width: $adv-img-w;
      height: $adv-img-h;
      border-radius: $border-r;
      border: $svg-border;
      margin: auto auto $svg-img-mb;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      i {
        margin: auto;
        font-size: $icon-fz;
        color: $brand-primary;
      }
    }
    .advantages__descr {
      width: $descr-width;
      margin: 0 auto;
      .descr__title {
        display: block;
        font-size: $descr-title-fz;
        font-weight: bold;
        color: $descr-title-color;
      }
      .descr__text {
        display: block;
        text-align: center;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .advantages {
    .advantages__item {
      display: flex;
      margin-bottom: 20px;
      .advantages__img {
        border: none;
        border-radius: 0;
        width: 35%;
        margin: 15px 0;
        height: auto;
        i {
          font-size: $icon-fz-m;
          margin: 0;
        }
      }
      .advantages__descr {
        .descr__title {
          text-align: left;
          font-size: $descr-title-fz-m;
        }
        .descr__text {
          text-align: left;
        }
      }
    }
  }
}