$footer-bg:         #323232;
$footer-padding:    40px 0;

.footer {
  background: $footer-bg;
  padding: $footer-padding;
  .copyright {
    font-size: $font-size-small;
    color: $text-color;
  }
  .footer__list {
    list-style: none;
    .footer__list-item {
      color: $brand-second;
      line-height: 2;
      a {
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.site-name {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .site-name {
    text-align: center;
  }
  .footer {
    .footer__list {
      display: none;
    }
    .copyright {
      text-align: center;
      display: block;
    }
  }
}