$headings_color:           $gray-base;
$headings_mb:              40px;
$heading-fz:               30px;

.heading {
  font-size: $heading-fz;
  color: $headings_color;
  margin-bottom: $headings_mb;
}


@media (max-width: $screen-xs-max) {
  .heading {
    font-size: 20px;
  }
}