$post-bg:         #f5f5f5;
$post-padding:    40px 0;
$post-img-br:     6px;
$post-margin:      15px;
$post-title-fz:    20px;


.posts {
  background: $post-bg;
  padding: $post-padding;
  .slick-dots {
    li button {
      &:before {
        font-size: $dots-fz;
        color: $dots-color;
      }
    }
  }
  .posts__item {
    margin-bottom: $post-margin;
    padding: 30px;
    .post__img {
      border-radius: $post-img-br;
      overflow: hidden;
      margin-bottom: $post-margin;
    }
    .posts__title {
      font-size: $post-title-fz;
      margin-bottom: $post-margin;
      color: $gray-base;
    }
    .posts__text {
      color: $gray-base;
      margin-bottom: $post-margin;
    }
    .posts__date {
      display: block;
      font-size: $font-size-small;
    }
  }
}

@media (max-width: 575px) {
  .posts {
    .posts__item {
      padding: 5px;
    }
  }
}