$review-padding:          40px 0;
$dots-fz:                 10px;
$dots-color:              #898989;
$user-color:              $headings-color;
$user-fz:                 16px;
$stars-color:             #f7dd1d;

.review {
  padding: $review-padding;
  .review__slider {
    .slick-dots {
      li button {
        &:before {
          font-size: $dots-fz;
          color: $dots-color;
        }
      }
    }
    .review__item {
      padding: 25px;
      .review__user {
        color: $user-color;
        font-size: $user-fz;
      }
      .review__stars {
        color: $stars-color;
        margin-bottom: 15px;
      }
    }
  }
}